SEART_LOGIN_EMAIL=testwik5@gmail.com
SEART_LOGIN_PASSWORD=Test123*
SEART_PRODUCT_URL=https://www.seart.pl/drewniana-komoda-sosnowa-rustyk-3-9.html
PAGE_LOAD_THRESHOLD_MS=11000

NOTIFY_EMAIL_ENABLED=false
NOTIFY_EMAIL_FROM=
NOTIFY_EMAIL_APP_PASSWORD=
NOTIFY_EMAIL_TO=cwiertnia.wiktor.work@gmail.com

NOTIFY_NTFY_ENABLED=false
NOTIFY_NTFY_TOPIC=seart-testy-CHANGE-ME-losowy-ciag
NOTIFY_NTFY_SERVER=https://ntfy.sh
